<nav>
  <div class="nav-wrapper grey darken-3">
    <a href="#" class="brand-logo">Servicio La Huerta</a>
    <ul class="right">
      <li><a (click)='authService.SignOut()'>Salir</a></li>
    </ul>
  </div>
</nav>

<div id="test-swipe-1" class="col s12 grey lighten-2 card">
  <span class="card-title"><b>Estadísticas</b></span>

  <div class="row card-content">
    <div class="row col s12">
      <div class="col s12 m6 l4 center">
        <span><b>1.- Clasifique su experiencia de servicio en general que recibió en esta concesionaria.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p1Data" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center-align"><b>2.- ¿Que tan satisfecho está con su Asesor de Servicio?</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p2Data" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center-align"><b>3.- ¿Se completo todo el trabajo solicitado en esta visita?</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p3Data" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row col s12">
      <div class="col s12 m6 l4 center">
        <span class="center-align"><b>4.-¿Qué tan satisfecho está con el tiempo transcurrido para que el servicio fuera
            completado?</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p4Data" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center-align"><b>5.- ¿Cuál es su nivel de satisfacción con las instalaciones de la concesionaria y
            amenidades ofrecidas?</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p5Data" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center-align"><b>6.- ¿Qué probabilidad hay de que su próxima reparación o servicio sea en esta
            misma
            concesionaria?</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p6Data" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row col s12">
      <div class="col s12 m6 l4 center">
        <span class="center"><b>2a.- La cortesía, responsabilidad y honestidad por parte de nuestros asesores de
            servicio.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p2aData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center"><b>2b.- Revisión de los componentes del vehículo y explicación de los trabajos.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p2bData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center"><b>2c.- Mantenerlo informado del avance del trabajo o servicio.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p2cData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row col s12">
      <div class="col s12 m6 l4 center">
        <span class="center"><b>2d.- La condición del vehículo en la entrega.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p2dData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center"><b>2e.- La explicación de los trabajos realizados.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p2eData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center"><b>2f.- Explicación de la factura y lo justo del cobro.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p2fData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row col s12">
      <div class="col s12 m6 l4 center">
        <span class="center"><b>3a.- ¿Por qué motivo?</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p3aData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center"><b>4a.- Facilidad y disponibilidad para agendar cita.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p4aData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center"><b>4b.- Tiempo en la entrega de su vehículo.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p4bData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row col s12">
      <div class="col s12 m6 l4 center">
        <span class="center"><b>4c.- Tiempo total requerido para completar el servicio en su vehículo.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p4cData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center"><b>5a.- Facilidad para entrar y salir.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p5aData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center"><b>5b.- Limpieza de la concesionaria.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p5bData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="row col s12">
      <div class="col s12 m6 l4 center">
        <span class="center"><b>5c.- Comodidad en el área de espera.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p5cData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center"><b>5d.- Amenidades ofrecidas.</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p5dData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
      <div class="col s12 m6 l4 center">
        <span class="center"><b>6a.- ¿Con la calidad del auto?</b></span>
        <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p6aData" [legend]="showLegend"
          [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
</div>
<div id="test-swipe-2" class="col s12 grey lighten-2">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <span class="card-title"><b>Datos de los Clientes</b></span>
        
        <div class="row col s12 m4 offset-m8 input-field inline">
          <label for="search" class="black-text" >Buscar</label>
          <input id="search" name="filter_key" type="text" [(ngModel)]="filter_key" autocomplete="off" value="">
        </div>
        
        <div class="card-content">
          <table id="dataTable">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>No. de Orden</th>
                <th>Fecha</th>
                <th>Asesor</th>
                <th>Más...</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let survey of Survey | filter:filter_key | paginate: {itemsPerPage:5,currentPage:p};let i=index; ">
                <td>{{survey.name}}</td>
                <td>{{survey.order}}</td>
                <td>{{survey.date}}</td>
                <td>{{survey.adviser}}</td>
                <td><a routerLink="/show-survey/{{survey.$key}}" class="btn-floating btn-small waves-effect waves-light teal">+</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>