<div class="row container">
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{name}}</span>
          <div>
              <p>1.-Clasifique su experiencia de servicio en general que recibió en esta concesionaria.
              <a class="btn-floating btn-small waves-effect waves-light teal">{{ group1 }}</a></p>
          </div>
          <div>
              <p>2.-¿Qué tan satisfecho está con su Asesor de Servicio?
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group2 }}</a></p>
          </div>
          <div>
              <p>3.-¿Se completo todo el trabajo solicitado en esta visita?
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group3 }}</a></p>
          </div>
          <div>
              <p>¿Por qué razón?: {{ group3b }}</p>
          </div>
          <div>
              <p>4.-¿Qué tan satisfecho está con el tiempo transcurrido para que el servicio fuera completado?
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group4 }}</a></p>
          </div>
          <div>
              <p>5.-¿Cuál es su nivel de satisfacción con las instalaciones de la concesionaria y amenidaddes ofrecidas?
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group5 }}</a></p>
          </div>
          <div>
              <p>6.-¿Qué probabilidad hay de que su próxima reparación o servicio sea en esta misma concesionaria?
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group6 }}</a></p>
          </div>
          <div>
              <p>¿Qué podría hacer la concesionaria para mejorar? Comentarios y/o sugerencias:
                <p>{{ group7 }}</p>
          </div><br>
          <div >
              <p>2a.-La contesía, responsabilidad y honestidad por parte de nuestros asesores de servicio:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group8 }}</a></p>
          </div>
          <div>
              <p>2b.-Revisión de los componentes del vehículo y explicación de los trabajos:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group9 }}</a></p>
          </div>
          <div>
              <p>2c.-Mantenerlo informado del avance del trabajo o servicio:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group10 }}</a></p>
          </div>
          <div>
              <p>2d.-La condición del vehículo en la entrega:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group11 }}</a></p>
          </div>
          <div>
              <p>2e.-La explicación de los trabajos realizados:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group12 }}</a></p>
          </div>
          <div>
              <p>2f.-Explicación de la factura y lo justo del cobro:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group13 }}</a></p>
          </div>
          <div>
              <p>3a.-¿Por qué motivo?
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group14 }}</a></p>
          </div>
          <div>
              <p>4a.-Facilidad y disponibilidad para agendar cita:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group15 }}</a></p>
          </div>
          <div>
              <p>4b.-Tiempo en la entrega de su vehículo:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group16 }}</a></p>
          </div>
          <div>
              <p>4c.-Tiempo total requerido para completar el servicio en su vehículo:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group17 }}</a></p>
          </div>
          <div>
              <p>5a.-Facilidad para entrar y salir:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group18 }}</a></p>
          </div>
          <div>
              <p>5b.-Limpieza de la concesionaria:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group19 }}</a></p>
          </div>
          <div>
              <p>5c.-Comodidad en el área de espera:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group20 }}</a></p>
          </div>
          <div>
              <p>5d.-Amenidades ofrecidas:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group21 }}</a></p>
          </div>
          <div>
              <p>6a.-Con la calidad del auto:
                <a class="btn-floating btn-small waves-effect waves-light teal">{{ group22 }}</a></p>
          </div>
          <div>
              <p>¿Por qué?: {{ group23 }}</p>
          </div>
          
        </div>
        <div class="card-action">
          <a (click)="goBack()" class="waves-effect waves-light btn">Volver</a>
        </div>
      </div>
    </div>
  </div>